[submodule "src/lib/BfresLibrary"]
	path = src/lib/BfresLibrary
	url = https://github.com/KillzXGaming/BfresLibrary.git
[submodule "src/lib/EPD-Libraries/msbt"]
	path = src/lib/EPD-Libraries/msbt
	url = https://github.com/SDarkMagic/msbt-py.git
