*.pyc
*.zip
*.log
*.msbt
*.pack
*.ssarc
*.txt
*.json

__pycahce__/
.vscode
assets/
downloadedImages/

textgenrnn_weights.hdf5
out
english
english-decomp
common_msbt
common_msbt-decomp
Bootup_USen.pack